<nav class="main-nav main-nav-absolute" {% if static_navbar %} data-float="no" {% endif %}>
  <div class="nav-container">
    <a href="/" class="logo"><img src="/static/img/sainsmograf_text.png" alt="Sainsmograf"></a>

    <ul class="nav-links">
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/labs/">Labs</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="https://github.com/arifwn"><i class="fa fa-github"></i></a></li>
      <li><a href="https://twitter.com/arifwn"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
</nav>