<!DOCTYPE html>
<html>
<head>
  <title>Sainsmograf - Arif Widi Nugroho</title>
  {% include 'head.html' %}
</head>
<body class="front-page" data-use-paralax="true">

  {% include 'content_header.html' %}

  <div class="parallax" data-parallax="scroll" data-image-src="https://lh3.googleusercontent.com/-6KgWTFF2TeQ/VnP7eC0vbOI/AAAAAAAAAN0/Dy1SGFrJzRY/s0-Ic42/home_parallax.jpg"></div>

  <article>
    <h1>Programs must be written for people to read, and only incidentally for machines to execute.</h1>

    <section>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div class="cover-image-credit">
        <a href="https://www.flickr.com/photos/theo_reth/6584663995/in/photolist-b2S8cz-9y1xA7-56zJ8q-dXoDK9-oRwYeZ-9nQ8YX-q9C8uA-cCs9Hs-mr26Jr-afvoLu-9JdnVw-6nZs77-qLGwrn-rmBfZ3-7iFC5F-quRVQM-e4Yg6X-rx8A2r-rh3FYW-c5TgBL-duDZMf-66wgLq-c1Bwm9-s39Ybc-9U8VyG-ffTaPc-6jZevb-jShybS-8n8v8P-dVLWPx-e5BcBr-fmHYqx-rAzyYF-6XZruK-otkfaF-qm2bBy-ziTctP-aQ81Cn-8mgTPS-uCvgNf-7egCGp-dkPyGm-t128G-iqoDNf-5Vqu6A-brkjzY-bfHU9H-baJGKp-nhf2ZD-aztRBN">Photo: Flickr/theo_reth</a>
      </div>
    </section>

  </article>

  {% include 'scripts.html' %}

  {% include 'content_footer.html' %}
</body>
</html>