Beaker==1.6.4
Fabric==1.10.2
Flask==0.10.1
Flask-Assets==0.11
Frozen-Flask==0.12
Jinja2==2.8
Mako==1.0.1
Markdown==2.6.5
MarkupSafe==0.23
PyYAML==3.11
Pygments==2.0.2
Unidecode==0.04.18
Werkzeug==0.11.2
ecdsa==0.13
itsdangerous==0.24
paramiko==1.16.0
psycopg2==2.5.5
pycrypto==2.6.1
stevedore==0.13
virtualenv==1.11.6
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
webassets==0.11.1
wsgiref==0.1.2
