<!DOCTYPE html>
<html>
<head>
  <title>{{ title|default('Blog') }}</title>
  {% include 'head.html' %}
</head>
<body>

  {% include 'content_header.html' %}

  <div class="cover-image full-bleed">
    <div class="parallax" data-parallax="scroll" data-image-src="https://lh3.googleusercontent.com/-2Xz7TgC6jJA/VnSqkWk7BJI/AAAAAAAAAOM/m__ku2lvDTs/s0-Ic42/blog.jpg">

      <h1 class="invert">{{ title|default('Archive') }}</h1>

    </div>
    
    <div class="cover-image-credit">
      Photo:
      
      <a href="https://www.flickr.com/photos/spam/5086168739/in/photolist-8KrWLt-fQnF3F-zeT59-hQupeu-mcyTCH-2XUSwK-6wKZGK-dSWYv6-9r9hTB-7JYMRm-npfs53-bnd6HC-dpMa6R-5Z7tu9-igTjs-znX36-bq9JVL-8MgCm1-i6Xpna-5GuxsL-4szPdJ-8qwP9e-zLV8Y-82ipB5-5K9py8-wCLUzs-r51nHF-qMs9B8-roGB1x-He1VQ-rnAbiN-r3emMW-ghnoDc-sQvQ2d-jynQwe-4xKrcM-4d3PzE-nWwB5Y-e2UoN2-g1aQen-fLjZdH-4Sr6vm-zzBDQu-rq8uC9-cBPses-aGsNy4-rV93Kr-aNSd7p-uaM1uZ-3n3ub8">Flickr/spam</a>
      
    </div>
    
  </div>

  <div class="content-list">

    {% for post in posts %}
    <div class="content-item">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

      <div class="meta">
      <span class="date" title="{{ post.date }}">{{ post.date }}</span> by 
      {% if post.author_url %}
      <a href="{{ post.author_url }}">{{ post.author|default('Unknown') }}</a>
      {% else %}
      {{ post.author|default('Unknown') }}
      {% endif %}
      </div>

      <div class="excerpt"><a href="{{ post.url }}">{{ post.get_excerpt() }} <small>[read more...]</small></a></div>
    </div>
    {% endfor %}
    
  </div>


  {% include 'scripts.html' %}

  <script type="text/javascript">

  $(function () {
    $('.content-item .meta .date').each(function (key, item) {
      var fromNow = moment($(item).html(), "YYYY-MM-DD hh:mm:ss").fromNow();
      $(item).html(fromNow);
    });
  });

  </script>

  {% include 'content_footer.html' %}
</body>
</html>